.ShopKeeper{
	background-color: #607D8B;
	box-sizing: border-box;
	font-size: 14px !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header{
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: #ccc;
	color: #fff;
}

a{
	cursor: pointer;
}
.logo{
	float: left;
	font-size: 35px;
	line-height: 30px;
}
.logo span:first-child{
	color: red;
}
.logo span:last-child{
	color: blue;
}
.registration-link{
	float: right;
}
.login{
	position: absolute;
	top: 50%;
	left: 40%;
}