.navigation {
    height: 100%;
    border-right: 2px solid #ccc;
    padding: 2px !important;
}

.home-content {
    height: 100%;
    overflow: auto;
}

.navigation ul {
    list-style-type: none;
    padding-left: 0px;
}

.navigation .nav-item {
    height: 30px;
    background-color: #ccc;
    border: 1px solid #ddd;
    margin: 2px;
    color: #607D8B;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 1px;
}

.navigation .nav-item:hover {
    background-color: #ddd;
}

.dashboard {
    margin-top: 15px;
    background-color: #ddd;
    height: 95%;
    border-radius: 2px;
    color: #607D8B;
}

.store-summary {
    height: 85%;
}

.heading {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    height: 5%;
    color: #607D8B;
}

.dashboard hr {
    border-top: 1px solid #607D8B;
}

.line {
    stroke: #607D8B;
    stroke-width: 3;
}

.rotate90 {
    transform: rotate(90 40 calc(50%));
}